# Byte-compiled / optimized / DLL files
#runs/
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
venv/
ENV/
env/
.venv/
.ENV/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# pyenv
.python-version

# pytest
.cache/
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# coverage
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
htmlcov/

# pyright
pyrightconfig.json

# pylint
pylint-report.txt
pylint-output.txt

# Pyre type checker
.pyre/

# PyCharm
.idea/

# VS Code
.vscode/

# Logs
*.log

# Mac OS
.DS_Store

# Temporary files
*.swp
*.swo
*~

# Test result files
*.mo
*.pot

# Unit test / coverage reports
junit.xml

